@page
@model IndexModel
@{
    ViewData["Title"] = "Menú principal";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<div class="text-center mt-5">
    <h1 class="display-4">Menú de opciones</h1>
</div>

<div class="col-12 justify-content-center mt-4">
    <a class="btn btn-success" href="/Administrativo/GestionarCalzados" style="width:100%; font-size:2em;">
        Gestionar modelos de calzado          <i class="fa fa-shoe-prints"></i>
    </a>
</div>

<div class="col-12 justify-content-center mt-4">
    <a class="btn btn-success" href="/SupervisorDeLinea/GestionarOrdenDeProduccion" style="width:100%; font-size:2em;">
        Gestionar orden de producción          <i class="fa fa-clipboard"></i>
    </a>
</div>

<div class="col-12 justify-content-center mt-4">
    <a class="btn btn-success" href="/SupervisorDeCalidad/Semaforo" style="width:100%; font-size:2em;">
        Semáforo de calzados          <i class="fa fa-traffic-light"></i>
    </a>
</div>

<div class="col-12 justify-content-center mt-4">
    <a class="btn btn-success" href="/SupervisorDeCalidad/InspeccionarCalzado" style="width:100%; font-size:2em;">
        Inspección de calzados          <i class="fa fa-search"></i>
    </a>
</div>